-wrap_layout :layout do
  %section
    %article{class: current_page.data.link ? "blog link" : "blog"}
      %header
        %h1=blog_link current_page
        %p
          =dt current_page.date
          %span.tags=tag_list current_page.data.tags
      =yield