//Individual element and layout specific styles
$base-padding: 50px 10px 50px 10px;
$mid-padding: 20px 10px 20px 10px;
$mid-padding: 10px;

@mixin opacity($alpha){
  -moz-opacity: $alpha;
  -khtml-opacity: $alpha;
  opacity: $alpha;
}

@mixin easing($rate){
  -moz-transition: all $rate ease;
  -webkit-transition: all $rate ease;
  -o-transition: all $rate ease;
  transition: all $rate ease;
}

body{
  background-color: #fff;
  font-family: $font-text;
  a{
    text-decoration: none;
    color: $c_standard;
  }
  .res-img{
    width: 100%;
    height: auto;
    @include opacity(0.7);
  }
}
nav{
  width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: $c_light-alt;
  padding: 30px 20px 30px 20px;
  @extend .cf;
  ul{
    text-align: center;
    li{
      text-align: center;
      display: inline-block;
      margin: 0px 20px 0px 20px;
      a{
        color: $c-mid;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
.header-logo{
  a{
    font-size: 20px;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: $c-standard;
    line-height: 58px;
    text-align: center;
    border: 3px solid $c-standard;
    margin: 0px auto 0px auto;
    display: block;
    @include easing(350ms);
      &:hover{
        @include easing(350ms);
        color: #999;
        border-color: #999;
    }
  }
}
.head-shot{
    margin: 50px auto 0px auto;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 3px solid $c_standard;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
}
.name{
  font-size: 30px;
  line-height: 2;
  padding: 10px 0px 10px;
  font-family: $font-text;
  color: $c-standard;
  text-align: center;
}
.desc{
  h3{
    font-family: $font-text;
    text-align: center;
    line-height: 2;
    color: $c-light;
    line-height: 1;
  }
  .btn{
    display: block;
    width: 100%;
    max-width: 250px;
    border: 2px solid $c_standard;
    color: $c_standard;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    background-color: transparent;
    margin: 20px auto 0px auto;
    @include easing(350ms);
      &:hover{
        @include easing(350ms);
        color: #999;
        border-color: #999;
    }
  }
}
.stream{
  background-color: #f4f4f4;
  margin: 50px 0px 0px 0px;
}
section{
  padding: $base-padding;
}
img.profile{
  display: block;
  max-width: 400px;
  max-height: 400px;
  margin: auto;
}
.post{
  max-width: 500px;
  margin: 0px auto 0px auto;
  width: 100%;
}
.blog{
  padding: 30px 20px 0px 20px;
  p{
    line-height: 1.5;
    color: #999;
  }
}
footer{
  @extend .cf;
  background-color: $c-standard;
  padding: $mid-padding;
  p.left{
    float: left;
    color: $c_base-light;
  }
  ul.right{
    float: right;
  }
  ul{
    li{
      display: inline-block;
      margin: 10px 0px 0px 10px;
      a{
        color: $c_base-light;
      }
    }
  }
}
@media handheld, only screen and (max-width: 767px){
  .contain{
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  [class*='col-']{
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}