%head
  %meta{:charset => "utf-8"}
  %meta{:name => "viewport", :content => "width=device-width"}
  -#TODO Fill in content title
  %meta{:property => "og:title", :content => "TODO"}
  %meta{:property => "og:type", :content => "website"}
  -#TODO Fill in content URL
  %meta{:property => "og:url", :content => "TODO"}
  %meta{:property => "og:locale", :content => "en_US"}
  /can you see this?
  %link{:rel => "icon", :type => "image/ico", :href => "assets/images/fav.png"}
  %title= page_title
  %meta{:content => page_description, :name => "description"}
  %meta{:content => "width=device-width", :name => "viewport"}
  = javascript_include_tag "actions"
  = stylesheet_link_tag "main"