%nav
  %div{:class => 'contain'}
    %div{:class => 'header-logo'}
      = link_to 'John Feminella', '/'
    %ul
      %li
        = link_to 'Portfolio', '/portfolio'
      %li
        = link_to 'Blog', '/blog'