---
title: "TODO"
blog: portfolio
pageable: true
layout: layout_portfolio
---
-page_articles.sort_by{|a| a.date }.reverse.each_with_index do |article, i|
  %article{class: article.data.link ? "blog link" : "blog"}
    %div{:class => "grid grid-pad"}
      %div{:class => "col-6-12"}
        %div{:class => "port-item"}
          %h1.post-title=blog_link article
          =article.summary(250, "...")