---
title: "TODO"
blog: blog
layout: layout
---
%section.tag-section
  %ul
    -blog("portfolio").tags.each do |tag, articles|
      %li
        =link_to tag, tag_path(tag)
        (#{articles.count})