---
title: "TODO"
pageable: false
blog: blog
---
%ul
  -blog.articles.group_by{|a| a.date.year }.each do |year, articles|
    %li
      %h3=year
    -articles.each do |article|
      %li
        %span=article.date.strftime("%b %d")
        =link_to article.title, article