---
title: "TODO"
blog: blog
pageable: true
per_page: 10
layout: layout
---
-page_articles.each_with_index do |article, i|
  %article{class: article.data.link ? "blog link" : "blog"}
    %div{:class => 'post'}
      %h1.post-title=blog_link article
      %p.post-excerpt=article.body
      %p
        =dt article.date
        %span=tag_list article.tags

  -if paginate
    -if prev_page
      %span
        &laquo;
        =link_to 'Newer', prev_page
    -if next_page
      %span
        =link_to 'Older', next_page
        &raquo;