---
title: "TODO"
blog: blog
pageable: true
layout: layout_blog
---
-page_articles.sort_by{|a| a.date}.reverse.each_with_index do |article, a|
  %article{class: article.data.link ? "blog link" : "blog"}
    %div{:class => 'grid grid-pad'}
      %div{:class => 'col-3-12'}
        %p{:class => 'article-date'}
          <i class="fa fa-#{article.data.icon}"></i>
          =dt article.date
          %div{:class => 'tags'}=tag_list article.tags
      %div{:class => 'col-9-12'}
        %h1.post-title
          =blog_link article
        %p
          =article.data.summary
        =link_to 'Read more »', article
  -if paginate
    %span.pagination
      -if prev_page
        %span.prev_page
          =link_to '', prev_page, :id => 'prev_page_link'
      -if next_page
        %span.next_page
          =link_to '', next_page, :id => 'next_page_link'