---
title: "Fill This In"
layout: layout_homepage
blog: blog
---
:ruby
  latest_articles = page_articles.sort_by{|a| a.date }.reverse[0,5]

%div.head-shot
  %img{:src => "http://placehold.it/150x150"}

%div.name
  John Feminella

%ul.social
  %li
    %a{:href => 'https://twitter.com/'}
      <i class="fa fa-twitter"></i>
  %li
    %a{:href => 'https://linkedin.com/'}
      <i class="fa fa-linkedin"></i>

%div.desc
  %h3 Technologist
  %h3 Entrepreneur
  %a.btn{href: "/contact"} Let's work together

%section{:class => 'stream'}
  %div{:class => 'contain contain-pad'}
    %div{:class => 'col-6-12'}
      %div{:class => 'inner-post'}
        %aside
          %h2
            Writings
            %span
              %a.btn{href: "/blog"} View more »
          -latest_articles[0...3].each do |article|
            %div{:class => 'post'}
              %h1.post-title
                <i class="fa fa-chain"></i>
                %span.date-meta
                  =article.date.strftime('%b %e')
                =blog_link article
    %div{:class => 'col-6-12'}
      %div{:class => 'inner-post'}
        %aside
          %h2
            Activities
            %span
              %a.btn{href: "/blog"} View more »
          -latest_articles[0...3].each do |article|
            %div{:class => 'post'}
              %h1.post-title
                <i class="fa fa-chain"></i>
                %span.date-meta
                  =article.date.strftime('%b %e')
                =blog_link article