---
title: "Fill This In"
layout: layout_homepage
blog: blog
---
:ruby
  latest_articles = page_articles.sort_by{|a| a.date }.reverse[0,5]

%div.head-shot
  %img{:src => "http://placehold.it/150x150"}

%div.name
  John Feminella

%ul.social
  %li
    %a{:href => 'https://twitter.com/'}
      <i class="fa fa-twitter"></i>
  %li
    %a{:href => 'https://linkedin.com/'}
      <i class="fa fa-linkedin"></i>

%div.desc
  %h3 Technologist
  %h3 Entrepreneur
  %a.btn{href: "/meta"} Let's work together

%section{:class => 'stream'}
  %div{:class => 'contain contain-pad'}
    %div{:class => 'col-6-12'}
      %div{:class => 'inner-post'}
        %aside
          %h2
            Writings
            %span
              %a.btn{href: "/blog"} View more »
          -latest_articles[0...3].each do |article|
            %div{:class => 'post'}
              %div{:class => 'small-grid'}
                %div{:class => 'col-3-12'}
                  %h1.post-title
                    <i class="fa fa-#{article.data.icon}"></i>
                    %span.date-meta
                      =article.date.strftime('%b %e')
                %div{:class => 'col-9-12'}
                  %h1.post-title
                    =blog_link article
    %div{:class => 'col-6-12'}
      %div{:class => 'inner-post'}
        %aside
          %h2
            Activities
            %span
              %a.btn{href: "/activities"} View more »
          -blog.articles.sort_by{|i| i.data.kind == :activity}[0...3].each do |article, i|
            %div{:class => 'post'}
              %div{:class => 'small-grid'}
                %div{:class => 'col-3-12'}
                  %h1.post-title
                    <i class="fa fa-#{article.data.icon}"></i>
                    %span.date-meta
                      =article.date.strftime('%b %e')
                %div{:class => 'col-9-12'}
                  %h1.post-title
                    =blog_link article